* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.heading{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin:auto;
}

.form-container{
    margin: auto;   /*To adjust the width*/
    padding: 28px;
    background-color: rgb(144,144,144);
    width: 70%;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
  

.icon {
    
    background: rgb(80,80,80);
    color: white;
    min-width: 60px;
    padding: 14px;
    text-align: center;
}

.input-field {
    width: 400px;
    outline: none;
}


td{
    width: 50%;
    height: 80px;
}

.submit-btn{
    padding: 12px;
    border: none;
    font-size: 20px;
    border-radius:4px;
}
